<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper" style="text-align: right;">

        Contact me:

        <ul class="social-media-list">
          
          <li> <a href="mailto:{{ site.email }}">{{ site.email }}</a> </li>
          <li style="height:7px"> </li>
          <li> <a href="https://github.com/davidzarruk"><span class="icon icon--github">{% include github-logo.svg %}</span></a>  &nbsp &nbsp
                <a href="https://twitter.com/dzarruk"><span class="icon icon--twitter">{% include twitter-logo.svg %}</span></a> &nbsp &nbsp &nbsp
                <a href="https://co.linkedin.com/in/david-zarruk-valencia-94077730"><span class="icon icon--twitter">{% include linkedin-logo.svg %}</span> </a> &nbsp &nbsp 

          </li>

        </ul>

    </div>


  </div>




</footer>
